<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../static/style-front.css">
  <style>
    .backgroundColor{
      display: block;
      margin-top: 0px;
      background-color: darkseagreen;
    }

    .divMeasurements{
      height: 150%;
      width: auto;
    }

    h1 {
      text-align: center;
      margin-top: 10%;
      font-family: "Calibri";
      font-size: 900%;
      color: lightseagreen;
    }


  </style>
</head>
<body class="backgroundColor">
<div class="divMeasurements">
  <h1>Velkommen madspilds-kriger!</h1>
</div>
</body>
</html>